[options]
addons_path = {{ default .Env.ADDONS_PATH "" }}
data_dir = /odoo/data/odoo
auto_reload = False
db_template = {{ default .Env.DB_TEMPLATE "template1" }}
db_host = {{ .Env.DB_HOST }}
db_port = {{ default .Env.DB_PORT "5432" }}
db_user = {{ .Env.DB_USER }}
db_password = {{ .Env.DB_PASSWORD }}
db_sslmode = {{ default .Env.DB_SSLMODE "prefer" }}
{{- if eq (default .Env.LIST_DB "False") "False" }}
db_name = {{ .Env.DB_NAME }}
{{- end }}
list_db = {{ default .Env.LIST_DB "False" }}
dbfilter = {{ default .Env.DB_FILTER ".*" }}
admin_passwd = {{ default .Env.ADMIN_PASSWD "" }}
db_maxconn = {{ default .Env.DB_MAXCONN "64" }}
limit_memory_soft = {{ default .Env.LIMIT_MEMORY_SOFT "2147483648" }}
limit_memory_hard = {{ default .Env.LIMIT_MEMORY_HARD "2684354560" }}
limit_request = {{ default .Env.LIMIT_REQUEST "8192" }}
limit_time_cpu = {{ default .Env.LIMIT_TIME_CPU "60" }}
limit_time_real = {{ default .Env.LIMIT_TIME_REAL "120" }}
limit_time_real_cron = {{ default .Env.LIMIT_TIME_REAL_CRON "-1" }}
log_handler = {{ default .Env.LOG_HANDLER "':INFO'" }}
log_level = {{ default .Env.LOG_LEVEL "info" }}
max_cron_threads = {{ default .Env.MAX_CRON_THREADS "2" }}
workers = {{ default .Env.WORKERS "4" }}
logfile = {{ default .Env.LOGFILE "None" }}
log_db = {{ default .Env.LOG_DB "False" }}
logrotate = True
syslog = {{ default .Env.SYSLOG "False" }}
running_env = {{ default .Env.RUNNING_ENV "dev" }}
without_demo = {{ default .Env.WITHOUT_DEMO "True" }}
server_wide_modules = {{ default .Env.SERVER_WIDE_MODULES "" }}
; We can activate proxy_mode even if we are not behind a proxy, because
; it is used only if HTTP_X_FORWARDED_HOST is set in environ
proxy_mode = True
; csv_internal_sep = ,
; debug_mode = False
; email_from = False
; http_port = 8069
; http_enable = True
; http_interface =
; longpolling_port = 8072
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
; smtp_password = False
; smtp_port = 25
; smtp_server = localhost
; smtp_ssl = False
; smtp_user = False
unaccent = {{ default .Env.UNACCENT "False" }}
{{ default .Env.ADDITIONAL_ODOO_RC "" }}

{{ if isTrue (default .Env.S3_ENABLED "false") }}
[fs_storage.sftp]
protocol=sftp
options={"host":"localhost","username":"test","password":"test","allow_agent":false,"port":2022}
directory_path="/{{ .Env.S3_BUCKET }}"
use_as_default_for_attachments=True
use_filename_obfuscation=True
force_db_for_default_attachment_rules={"image/": 51200, "application/javascript": 0, "text/css": 0}
base_url=/
autovacuum_gc=True
{{ if isTrue (default .Env.S3_BACKUP "false") }}
use_for_backup=True
backup_include_filestore={{ default .Env.S3_BACKUP_INCLUDE_FILESTORE "False" }}
backup_keep_time={{ default .Env.S3_BACKUP_KEEP_TIME "7" }}
backup_dir={{ default .Env.S3_BACKUP_DIR "backups" }}
backup_filename_format={{ default .Env.S3_BACKUP_FILENAME_FORMAT "backup-%%(db)s-%%(dt)s.%%(ext)s" }}
{{ end }}
{{ end }}
