[options]
addons_path = {{ default .Env.ADDONS_PATH "" }}
data_dir = /odoo/data/odoo
auto_reload = False
db_template = {{ default .Env.DB_TEMPLATE "template1" }}
db_host = {{ .Env.DB_HOST }}
db_port = {{ default .Env.DB_PORT "5432" }}
db_user = {{ .Env.DB_USER }}
db_password = {{ .Env.DB_PASSWORD }}
db_sslmode = {{ default .Env.DB_SSLMODE "prefer" }}
{{- if eq (default .Env.LIST_DB "False") "False" }}
db_name = {{ .Env.DB_NAME }}
{{- end }}
list_db = {{ default .Env.LIST_DB "False" }}
dbfilter = {{ default .Env.DB_FILTER ".*" }}
admin_passwd = {{ default .Env.ADMIN_PASSWD "" }}
db_maxconn = {{ default .Env.DB_MAXCONN "64" }}
db_maxconn_gevent = {{ default .Env.DB_MAXCONN_GEVENT "False" }}
db_replica_host = {{ default .Env.DB_REPLICA_HOST "False" }}
db_replica_port = {{ default .Env.DB_REPLICA_PORT "False" }}
limit_memory_soft = {{ default .Env.LIMIT_MEMORY_SOFT "2147483648" }}
limit_memory_hard = {{ default .Env.LIMIT_MEMORY_HARD "2684354560" }}
limit_memory_soft_gevent = {{ default .Env.LIMIT_MEMORY_SOFT_GEVENT "False" }}
limit_memory_hard_gevent = {{ default .Env.LIMIT_MEMORY_HARD_GEVENT "False" }}
limit_request = {{ default .Env.LIMIT_REQUEST "8192" }}
limit_time_cpu = {{ default .Env.LIMIT_TIME_CPU "60" }}
limit_time_real = {{ default .Env.LIMIT_TIME_REAL "120" }}
limit_time_real_cron = {{ default .Env.LIMIT_TIME_REAL_CRON "-1" }}
log_handler = {{ default .Env.LOG_HANDLER "':INFO'" }}
log_level = {{ default .Env.LOG_LEVEL "info" }}
max_cron_threads = {{ default .Env.MAX_CRON_THREADS "2" }}
workers = {{ default .Env.WORKERS "4" }}
logfile = {{ default .Env.LOGFILE "None" }}
log_db = {{ default .Env.LOG_DB "False" }}
logrotate = True
syslog = {{ default .Env.SYSLOG "False" }}
running_env = {{ default .Env.RUNNING_ENV "dev" }}
without_demo = {{ default .Env.WITHOUT_DEMO "True" }}
server_wide_modules = {{ default .Env.SERVER_WIDE_MODULES "" }}
proxy_mode = True
unaccent = {{ default .Env.UNACCENT "False" }}
{{ default .Env.ADDITIONAL_ODOO_RC "" }}

{{ if isTrue (default .Env.EXT_STORAGE_ENABLED "False") }}
[fs_storage.{{ .Env.EXT_STORAGE_NAME }}]
protocol={{ .Env.EXT_STORAGE_PROTOCOL }}
{{ if eq .Env.EXT_STORAGE_PROTOCOL "s3" }}
options={"endpoint_url": "{{ .Env.S3_ENDPOINT_URL }}", "key": "{{ .Env.S3_ACCESS_KEY }}", "secret": "{{ .Env.S3_SECRET_KEY }}"}
{{ else if eq .Env.EXT_STORAGE_PROTOCOL "sftp" }}
options={"hostname": "{{ .Env.SFTP_HOST }}", "port": "{{ .Env.SFTP_PORT }}", "username": "{{ .Env.SFTP_USER }}", "password": "{{ .Env.SFTP_PASSWORD }}", "allow_agent": "{{ .Env.SFTP_AGENT }}"}
{{ end }}
directory_path="{{ .Env.FS_STORAGE_PATH }}"
{{ if isTrue (default .Env.EXT_STORAGE_ATTACHMENTS "False") }}
use_as_default_for_attachments=True
base_url={{ default .Env.EXT_STORAGE_ATTACHMENTS_BASE_URL "/" }}
autovacuum_gc={{ default .Env.EXT_STORAGE_AUTO_VACUUM "True" }}
use_x_sendfile_to_serve_internal_url={{ default .Env.EXT_STORAGE_SEND_FILE "False" }}
is_directory_path_in_url={{ default .Env.EXT_STORAGE_DIR_PATH_IN_URL "True" }}
optimizes_directory_path={{ default .Env.EXT_STORAGE_OPTIMIZE_DIR_PATH "False" }}
use_filename_obfuscation={{ default .Env.EXT_STORAGE_FILENAME_OBFUSCATION "True" }}
force_db_for_default_attachment_rules={{ default .Env.EXT_STORAGE_ATTACHMENTS_FORCE_DBRULES "{\"image/\": 51200, \"application/javascript\": 0, \"text/css\": 0}" }}
{{ end }}
{{ if isTrue (default .Env.EXT_STORAGE_BACKUPS "False") }}
use_for_backup=True
backup_include_filestore={{ default .Env.EXT_STORAGE_BACKUPS_INCLUDE_FILESTORE "False" }}
backup_dir={{ default .Env.EXT_STORAGE_BACKUPS_DIR "backups" }}
backup_keep_time={{ default .Env.EXT_STORAGE_BACKUPS_KEEP_TIME "7" }}
backup_filename_format={{ default .Env.EXT_STORAGE_BACKUPS_FILENAME_FORMAT "backup-%%(db)s-%%(dt)s.%%(ext)s" }}
{{ end }}
{{ end }}
