name: slim-ci

on:
  push:
    branches:
      - "main"
    paths:
      - "slim/**"
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["16.0", "18.0"]
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ matrix.version }}-slim,ghcr.io/${{ github.repository }}:${{ matrix.version }}-slim-${{ github.sha }}
          context: slim/
          file: slim/Dockerfile-${{ matrix.version }}
